.aboutUsBackground {
  height: 90vh;
  text-align: center;
}
.feature {
  padding: 6rem 18rem 3rem 18rem;
}
.featureTitle {
  color: #fdbc2c;
  font-size: 2.3rem;
  font-family: 'Abril Fatface', cursive;
}
.featureParagraph {
  margin-top: 3rem;
  font-size: 0.8rem;
  color: #ffffff;
}
.featureContent {
  margin: auto 18rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  text-align: left;
}
.divImage1 {
  background-image: url('../../assets/leaf.png');
  background-size: 1.7rem;
  background-repeat: no-repeat;
  height: 3rem;
}
.divImage2 {
  background-image: url('../../assets/metal.png');
  background-size: 1.8rem;
  background-repeat: no-repeat;
  height: 3rem;
}
.divImage3 {
  background-image: url('../../assets/space.png');
  background-size: 1.9rem;
  background-repeat: no-repeat;
  height: 3rem;
}
.featureContentContainer > div > h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
  color: #fdbc2c;
}
.featureContentContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1rem;
}
.featureContentContainer > div > p {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.6;
}
